body {
    color: #000000;
  }
  
.container {
  text-align: center;
}

.btn-submit {
  width: 150px;
  padding: 5px;
  background-color: yellow;  
  cursor: pointer;
  border: 1px solid rgb(5, 4, 2);
  border-radius: 15px;
}
.btn-submit:hover {
  background-color: rgb(19, 143, 27);
  transition: background-color 0.4s linear;
}

  .add__note {
    position: relative;
    display: flex;
    justify-content: center;
    width: 300px;
    height: 100%;
    background-color: chocolate;
    margin: 0 auto;
    border-radius: 20px;
  }

  .add__note h2 {
    position: absolute;
    margin-bottom: 20px;
  }

  .add__note p {
    margin: 0;
  }
  .add__input {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin-bottom: 0px;
  
  }

  .add__input input {
    margin: 10px 0;
    bottom: 0;
    border-radius: 5px;
  }



  /* a {
    color: inherit;
    text-decoration: none;
  }
  
  .notes__title {
    margin: 0;
    padding: 0;
    color: #000;
    margin-bottom: 10px;
  }
  
  .create-note {
    color: #000;
  }
  
  .notes {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .notes__list {
    width: 300px;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #252525;
    padding: 20px;
    margin-top: 20px;
  }
  
  .notes__list-item {
    position: relative;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
  }
  
  .btn {
    width: 50px;
    height: 22px;
    border: none;
    background-color: #fc7d49;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
  }
  
  .delete-note-btn {
    position: absolute;
    right: 0;
    bottom: 10px;
  }
  
  .edit-note-btn {
    position: absolute;
    right: 65px;
    bottom: 10px;
  }
  
  .note__title,
  .note__text {
    position: relative;
  }
  
  .note__title .edit,
  .note__text .edit {
    position: absolute;
    width: 100%;
    display: none;
  }
  
  .edit .note__title .edit,
  .edit .note__text .edit {
    display: block;
  }
   */